<a href="https://colab.research.google.com/github/LVA0412/Python.Work3-varB/blob/main/Python3a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.Блок. Pandas**
Для следующих данных (csv-файл прилагается)

In [85]:
import pandas as pd #импортируем библиотеки
import math
import numpy as np
# Загрузим данные из файла
# переименуем столбцы, чтобы с ними стало удобнее работать
df = pd.read_csv('competition_1.csv', delimiter = ';')
df.rename(columns = {
          'Год рождения' : 'yearB', 
          'Бег 1000 метров, мин. и сек.' : 'run1000', 
          'Бег 30 метров, сек.' : 'run30',
          'Прыжок в длину с места, см ' : 'jump',
          }, inplace = True) 
print(df)

        Фамилия        Имя Пол  yearB run1000 run30  jump
0     Абдуллаев      Денис   м   1998    3,42  4,72   188
1     Абдуллаев      Темур   м   1999    5,12  5,63   187
2    Абраменцев  Владислав   м   1997    5,52  5,42   223
3     Абсалямов       Илья   м   1999    5,43  4,92   237
4       Авдонин  Александр   м   1998    4,38  4,71   219
..          ...        ...  ..    ...     ...   ...   ...
995        Янов      Артем   м   1998    5,25  5,73   188
996     Ярагина      Мария   ж   1997    4,02  5,72   216
997    Яруллина    Татьяна   ж   1997     3,3  4,27   208
998        Яцко       Иван   м   1996    4,22  5,06   183
999       Яшина      Мария   ж   1999    3,55  6,86   192

[1000 rows x 7 columns]

In [86]:
# Приведем в порядок типы данных
df['run1000'] = df['run1000'].str.replace(',','.')
df['run30'] = df['run30'].str.replace(',','.')
df = df.astype({'run1000': np.float64})
df = df.astype({'run30': np.float64})
df = df.astype({'yearB': np.int64})
df = df.astype({'jump': np.int64})

<ipython-input-86-6a8d55df48cc>:4: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df = df.astype({'run1000': np.float})

In [89]:
# Добавим столбец в котором результаты забега на 1000 м. в секундах
df["r1000_sec"] = df["run1000"].apply(np.floor) * 60 + (df["run1000"] - df["run1000"].apply(np.floor) ) * 100
print("Готовый для анализа датафрейм")
print(df)

Готовый для анализа датафрейм
        Фамилия        Имя Пол  yearB  run1000  run30  jump  r1000_sec
0     Абдуллаев      Денис   м   1998     3.42   4.72   188      222.0
1     Абдуллаев      Темур   м   1999     5.12   5.63   187      312.0
2    Абраменцев  Владислав   м   1997     5.52   5.42   223      352.0
3     Абсалямов       Илья   м   1999     5.43   4.92   237      343.0
4       Авдонин  Александр   м   1998     4.38   4.71   219      278.0
..          ...        ...  ..    ...      ...    ...   ...        ...
995        Янов      Артем   м   1998     5.25   5.73   188      325.0
996     Ярагина      Мария   ж   1997     4.02   5.72   216      242.0
997    Яруллина    Татьяна   ж   1997     3.30   4.27   208      210.0
998        Яцко       Иван   м   1996     4.22   5.06   183      262.0
999       Яшина      Мария   ж   1999     3.55   6.86   192      235.0

[1000 rows x 8 columns]

**Следует определить и вывести**

1.1)среднее значение и медиану бега на 1000 метров (мин, сек) по каждой возрастной группе (год рождения есть) по девочкам и мальчикам;

In [57]:
#Определим какие есть возрастные группы. 
#Сгруппируем участников по году рождения
df_ybg = df.groupby('yearB')['Фамилия'].count()
print(df_ybg)

yearB
1996    255
1997    235
1998    255
1999    255
Name: Фамилия, dtype: int64

In [94]:
#Вычислим средние значения
for x in range(1996, 2000, 1):
    t1 = df[(df['Пол']=='ж')&(df['yearB']== x )]['r1000_sec'].mean()
    minutes = int(t1 // 60)
    sec = int(t1 % 60)
    print('Среднее значение девочек' , x , 'года рождения, в беге на 1000 м.', 
    'минут:', minutes, 'секунд:', sec)
    t1 = df[(df['Пол']=='м')&(df['yearB']== x )]['r1000_sec'].mean()
    minutes = int(t1 // 60)
    sec = int(t1 % 60)
    print('Среднее значение мальчиков' , x , 'года рождения, в беге на 1000 м.', 
    'минут:', minutes, 'секунд:', sec)

Среднее значение девочек 1996 года рождения, в беге на 1000 м. минут: 4 секунд: 48
Среднее значение мальчиков 1996 года рождения, в беге на 1000 м. минут: 4 секунд: 50
Среднее значение девочек 1997 года рождения, в беге на 1000 м. минут: 4 секунд: 45
Среднее значение мальчиков 1997 года рождения, в беге на 1000 м. минут: 4 секунд: 50
Среднее значение девочек 1998 года рождения, в беге на 1000 м. минут: 4 секунд: 54
Среднее значение мальчиков 1998 года рождения, в беге на 1000 м. минут: 4 секунд: 51
Среднее значение девочек 1999 года рождения, в беге на 1000 м. минут: 4 секунд: 51
Среднее значение мальчиков 1999 года рождения, в беге на 1000 м. минут: 4 секунд: 48

In [95]:
#Вычислим медианные значения
for x in range(1996, 2000, 1):
    t1 = df[(df['Пол']=='ж')&(df['yearB']== x )]['r1000_sec'].median()
    minutes = int(t1 // 60)
    sec = int(t1 % 60)
    print('Медианное значение девочек' , x , 'года рождения, в беге на 1000 м.', 
    'минут:', minutes, 'секунд:', sec)
    t1 = df[(df['Пол']=='м')&(df['yearB']== x )]['r1000_sec'].median()
    minutes = int(t1 // 60)
    sec = int(t1 % 60)
    print('Медианное значение мальчиков' , x , 'года рождения, в беге на 1000 м.', 
    'минут:', minutes, 'секунд:', sec)

Медианное значение девочек 1996 года рождения, в беге на 1000 м. минут: 4 секунд: 45
Медианное значение мальчиков 1996 года рождения, в беге на 1000 м. минут: 4 секунд: 47
Медианное значение девочек 1997 года рождения, в беге на 1000 м. минут: 4 секунд: 38
Медианное значение мальчиков 1997 года рождения, в беге на 1000 м. минут: 4 секунд: 48
Медианное значение девочек 1998 года рождения, в беге на 1000 м. минут: 4 секунд: 51
Медианное значение мальчиков 1998 года рождения, в беге на 1000 м. минут: 4 секунд: 43
Медианное значение девочек 1999 года рождения, в беге на 1000 м. минут: 4 секунд: 51
Медианное значение мальчиков 1999 года рождения, в беге на 1000 м. минут: 4 секунд: 47

1.2)определить победителей (фамилии и имена детей) в каждой возрастной группе по мальчикам
и по девочкам (3 первых места) по каждому виду. Учесть, что победителей может быть больше 3-х, так как результаты могут совпадать;

In [167]:
def sexname(s):
    if s == 'м':
        r = "мальчиков"
    else:
        r = "девочек"
    return r
def get3run1000(sex, year):
    #Найдем третий результат по бегу на 1000 м
    #среди мальчиков и девочек указанного года рождения
    df_run1000 = df.loc[(df['Пол'] == sex)  &(df['yearB']== year )]
    df_3run1000 = df_run1000.groupby(['r1000_sec']).agg(['count']) 
    r = df_3run1000.index[2]
    return r

def get_best_runner1000(res, sex, year):
    #Найдем все результаты по бегу на 1000 м
    #Лучше <= res
    #среди мальчиков или девочек указанного года рождения
    df_best = df[(df['Пол'] == sex) & (df['yearB'] == year) & (df['r1000_sec'] <= res)]
    return df_best.sort_values('r1000_sec')
s = ['м', 'ж']
y = [1996, 1997, 1998, 1999]
print("Результаты соревнований по бегу на 1000 м.")
for i in s:
    for j in y:
          print("Победители среди", sexname(i), j, "года рождения")
          print(get_best_runner1000(get3run1000(i, j), i, j))

Результаты соревнований по бегу на 1000 м.
Победители среди мальчиков 1996 года рождения
      Фамилия     Имя Пол  yearB  run1000  run30  jump  r1000_sec
144    Бурсов  Никита   м   1996     3.28   5.23   178      208.0
101  Бессонов  Кирилл   м   1996     3.30   4.66   231      210.0
129   Бохонов   Антон   м   1996     3.33   4.19   225      213.0
Победители среди мальчиков 1997 года рождения
     Фамилия      Имя Пол  yearB  run1000  run30  jump  r1000_sec
920  Чеканов  Евгений   м   1997     3.28   5.86   195      208.0
266  Дроздов     Петр   м   1997     3.30   5.72   228      210.0
276    Дюкин   Никита   м   1997     3.32   4.17   198      212.0
561  Меликов   Кирилл   м   1997     3.32   5.92   205      212.0
Победители среди мальчиков 1998 года рождения
      Фамилия      Имя Пол  yearB  run1000  run30  jump  r1000_sec
318  Зеленцов   Андрей   м   1998     3.28   4.61   226      208.0
289      Еров  Алексей   м   1998     3.30   5.90   232      210.0
729    Руйбис   Никита   м   1998     3.37   4.89   185      217.0
Победители среди мальчиков 1999 года рождения
      Фамилия      Имя Пол  yearB  run1000  run30  jump  r1000_sec
815  Стручков    Фёдор   м   1999     3.28   5.69   197      208.0
718  Родюшкин    Игорь   м   1999     3.30   5.06   193      210.0
846  Толкачев  Алексей   м   1999     3.30   5.53   178      210.0
835      Тиль  Евгений   м   1999     3.32   5.87   210      212.0
Победители среди девочек 1996 года рождения
          Фамилия        Имя Пол  yearB  run1000  run30  jump  r1000_sec
426       Коркина  Анастасия   ж   1996     3.28   5.34   218      208.0
333       Иванова       Анна   ж   1996     3.30   5.23   203      210.0
849  Трапезникова      Мария   ж   1996     3.33   5.14   205      213.0
Победители среди девочек 1997 года рождения
       Фамилия        Имя Пол  yearB  run1000  run30  jump  r1000_sec
106   Бирюкова      Злата   ж   1997     3.28   5.72   190      208.0
185  Гайдамака  Екатерина   ж   1997     3.28   5.49   208      208.0
595    Мошкина    Татьяна   ж   1997     3.28   6.13   183      208.0
997   Яруллина    Татьяна   ж   1997     3.30   4.27   208      210.0
797   Соколова      Марта   ж   1997     3.32   5.74   207      212.0
Победители среди девочек 1998 года рождения
        Фамилия        Имя Пол  yearB  run1000  run30  jump  r1000_sec
451   Крутякова      Мария   ж   1998     3.32   4.25   202      212.0
25    Альмяшева  Елизавета   ж   1998     3.33   5.89   194      213.0
322  Золотарёва     Ксения   ж   1998     3.35   5.61   219      215.0
Победители среди девочек 1999 года рождения
         Фамилия      Имя Пол  yearB  run1000  run30  jump  r1000_sec
287     Ермолова     Анна   ж   1999     3.28   4.38   190      208.0
639       Орлова   Ксения   ж   1999     3.32   6.33   201      212.0
854     Троилина     Юлия   ж   1999     3.32   4.47   211      212.0
139    Бузовкина  Людмила   ж   1999     3.33   5.86   219      213.0
355  Кадыркулова    Ольга   ж   1999     3.33   4.72   184      213.0
628   Новосёлова    Алина   ж   1999     3.33   5.96   218      213.0

1.3)определить в каждой возрастной группе девочек, которые по трём видам (по всем) испытаний
входят в ТОП5;